h1, h2 {background-color: #9edaf1;
    color: #005677;
}
h1 {font-family: 'Gentium Book Basic', serif;
    font-weight: 700;
    font-size: 35px;
    font-style: normal;
    text-align: center;
    line-height: 84.69%;
}
h2 {font-family: 'Gentium Book Basic', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 84.69%;
    text-align: left;
}

h1, h2, h3 {Letter-spacing: 5px
}

.Batman-logo {left: 1000px;
    width: 250px;
    height: 250px;
    top: 20.91px;
    position: relative;
}

header {height: 400px;   
}

h3 {font-family: 'Gentium Book Basic', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 84.69%;
    color: #FFFFFF;
    background-color: #005677;
    text-align: center;
}
.logitos {width: 20px;
    height: 20px;
    left: 778px;
    top: 996px;
}
p {font-family: 'Noto Serif', serif; 
    font-style: normal ;
    font-size: 15px;
    line-height: 23px;
    text-align: Left;
}

ul {font-family: 'Noto Serif', serif; 
    font-style: normal ;
    font-size: 15px;
    line-height: 23px;
    text-align: Left;
    list-style: none;
}

.margen-ul {margin-left: -39px;

}

.negrita {font-weight: bold;
}

body {margin: auto;   
      padding: auto;
}

.spanSaltoLinea {display: block;
                 margin-left: 77px;
}

.sobremi-header {font-family: 'Gentium Book Basic', serif;
    color: darkblue;
    background-color: aquamarine;
    font-weight: 700;
    font-size: 30px;
    font-style: normal;
    line-height: 84.69%;
    text-align: center;
}